* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #222;
}

#loginBtn {
    background-color: #2b7de9;
    color: #fff;
    border-style: none;
    padding: 10px;
    
}


.wrapper {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#googleLogo {
    display: block;
    margin-bottom: 30px;
}

#searchbox {
    border-style: solid;
    width: 400px;
    height: 40px;
    border-radius: 30px;
}

li {
    list-style-type: none;
}

.navbarLeft {
    display: flex;
    width: 165px;
    justify-content: space-between;
    position: absolute;
    left: 30px;
    top: 30px;
}

.navbarRight {
    display: flex;
    width: 250px;
    justify-content: space-between;
    position: absolute;
    right: 30px;
    top: 30px;
}

.footerLeft {
    display: flex;
    position: absolute;
    justify-content: space-between;
    left: 30px;
    top: 30px;
    width: 600px;
}

.footerRigth {
    display: flex;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 600px;
    justify-content: space-between;
}

#navbar {
    height: 60px;
    position: relative;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

#footer {
    height: 60px;
    position: relative;
    display: flex;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
}